mat-card {
  margin: 0 5rem;
  padding: var(--spacing-lg);
}

.name {
  font: var(--mat-sys-headline-small);
  margin-bottom: 0.5rem;
  font-weight: var(--font-weight-medium);
}

.role {
  font: var(--mat-sys-title-medium);
  font-weight: var(--font-weight-normal);
}
.contact-info {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;

  > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    mat-icon {
      color: var(--mat-sys-primary);
    }

    span {
      font: var(--mat-sys-body-medium);
    }
  }
}

.link {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;

  mat-icon {
    color: var(--mat-sys-primary);
  }

  span {
    font: var(--mat-sys-body-medium);
  }
}
